html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #efefef;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* GLOBALES */


/* tabla */

table,
td,
th {
    border: 1px solid #111111;
}

table {
    width: 98%;
    border-collapse: collapse;
}

table th {
    padding: 5px;
}

table td {
    padding: 2px 5px;
}

.centrar {
    text-align: center;
}


/* HEADER */

header.header {
    background-image: url(../img/fondo-header.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

header.header div.filtro {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

header.header h1 {
    font-size: 70px;
    text-shadow: 0 0 10px #111111;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
}


/* BARRA */

div.barra {
    margin: 0 auto 10px;
    background-color: #F25C05;
    box-shadow: 0 5px 5px #aaaaaa;
}

div.barra nav.nav {
    width: 1200px;
    margin: 0 auto;
}

div.barra nav.nav a {
    padding: 15px;
    color: #ffffff;
    transition: all .3s ease;
    text-decoration: none;
    display: inline-block;
}

div.barra nav.nav a:hover {
    background-color: rgba(255, 255, 255, .1);
}

a.select {
    border-bottom: 5px solid #ffffff;
}


/* BODY */

div.contenedor-body {
    width: 1200px;
    min-height: 597px;
    margin: 0 auto;
    padding: 10px 0;
    box-shadow: 0 0 10px #aaaaaa;
    background-color: #ffffff;
}

section.contenedor-targeta {
    width: 95%;
    margin: 0 auto 15px;
    box-shadow: 0 1px 2px #888888;
    border-radius: 5px;
    overflow: hidden;
}

section.contenedor-targeta header {
    margin-bottom: 5px;
    padding: 5px 10px;
    color: #ffffff;
    background-color: #F25C05;
    text-transform: capitalize;
}

section.contenedor-targeta div.contenido-targeta {
    padding-bottom: 5px;
}

section.contenedor-targeta div.contenido-targeta ul li {
    margin-left: 25px;
    padding-bottom: 4px;
}


/* pajina de categorias y productos */

section.section h2 {
    margin-bottom: 10px;
    font-size: 30px;
    color: #F25C05;
    text-align: center;
}

form.formulario {
    width: 80%;
    margin: 0 auto;
}

div.entrada-form {
    width: 100%;
    display: flex;
    align-items: center;
}

div.entrada-form:first-child {
    margin-right: 10px;
}

div.entrada-form label {
    min-width: 23%;
    margin-right: 5px;
    text-align: end;
}

div.entrada-form input,
div.entrada-form select {
    width: 100%;
    margin: 3px 0;
    padding: 3px 5px;
    outline: none;
}

form.formulario div.columnas {
    display: flex;
}

form.formulario div.media-columna {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

form.formulario div.media-columna div.width-50 {
    width: 49.5%;
}

form.formulario div.botones {
    display: flex;
    justify-content: center;
}

form.formulario div.botones input {
    margin: 10px 5px;
    padding: 10px 5px;
    transition: all .3s ease;
    color: #ffffff;
    background-color: #F25C05;
    border: none;
    cursor: pointer;
}

form.formulario div.botones input:hover {
    background-color: #f25c05e7;
}

section.section table {
    width: 90%;
    margin: 0 auto;
}

section.section td.acciones {
    text-align: center;
}

section.section td.acciones a {
    margin: 0 3px;
}


/* FOOTER */

footer {
    padding: 10px;
    color: #ffffff;
    background-color: #333333;
    text-align: center;
}